@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rambla:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    /* -webkit-font-smoothing: antialiased; */
}

html, body {height: 100%;}


body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.principal {
max-width: 60em;
margin: 0 auto;
}

.logo {
    margin-right: 10px;
}
.whats_icon {
    width: 2rem;
}
.titulo {
    text-decoration: none;
    color: rgb(82, 82, 82);
    margin-right: auto;
}

.link:hover {
    text-decoration: none;
    font-weight: 700;
    color:cadetblue;}

.nav-link:hover {
    text-decoration: none;
    font-weight: 700;
    color:cadetblue;
}

.card {
    width: 100%;
    position: relative;
}

.card-img-overlay {
    width: 100%;
}

.card-title {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Kumbh Sans', sans-serif; */
    /* font-family: 'Gayathri', sans-serif; */
    /* font-family: 'Rambla', sans-serif; */


    font-size: 1.7rem;
    color: black;
    font-weight: 700;
    text-shadow: 0.8px 0.8px 0.8px cadetblue;
    margin-top: 4rem;
    text-align: center;
}

.card-text {
    position:absolute;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0rem;
    color: white;
    margin-top: 3rem;
    background-color: cadetblue;
    margin-left: -1.25rem;
    height: 3rem;
    padding: 1rem;
    opacity: 0.8;

}

.card_content {
    margin-top:2rem;
    width: 100%;
    border: 0;
}

.card_content img {
    border: 0;
}

.card-img {
    height: 15rem ;
    border: 0;
}


.navbar-brand {
    margin-left: -5rem;
}

.contatos {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    margin-top: 2rem;
}

.contatos_title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 5rem;
    margin-bottom:-1.4rem;
    color: rgb(122, 122, 122);
    text-shadow: 0.1px 0.1px 0.1px rgb(187, 187, 187);
}

.contato {
    text-align: center;
    margin: auto 0;
    display: table-cell; 
}

.img-whats a img {
    max-width: 6.5rem;
}

.img-instagram a img{
    max-width: 5rem;
}

.img-fone a img{
    width: 5.75rem;
}

.contatos img {
    margin-top: 0rem;
    width: 13.5rem;
    /* margin-left: 12rem; */
}

.footer {
    background-color: cadetblue;
    margin-top: 2rem;
    text-align: center;
    width: 100%;
    position: absolute;
}

.footer p {
    margin-top: 1rem;
    font-size: 0.8rem;  
    color: white;
}

@media screen and (min-width: 900px) {

    .content {
        margin-top: 2rem;
    }

    .card-img {
        height: 30rem ;
        border: 0;
    }

    .card-title {
        font-size: 2.2rem;
        color: black;
        font-weight: 700;
        text-shadow: 2px 2px 2px cadetblue;
        margin-top: 4rem;
        text-align: center;
    }
    
    .card-text {
        position:absolute;
        width: 100%;
        text-align: center;
        font-size: 0.8rem;
        bottom: 4rem;
        color: white;
        margin-top: 3rem;
        background-color: cadetblue;
        margin-left: -1.25rem;
        height: 3rem;
        padding: 1rem;
        opacity: 0.8;
    
    }

    .img-whats a img {
        /* width: auto; */
    }
    
    .img-instagram a img{
        max-width: 5rem;
    }
    
    .img-fone a img{
        max-width: 5.5rem;
    }

    

}